<h1 class="jumbotron-heading text-center">ข้อมูลบัญชีกระเป๋าเงินอิเล็กทรอนิกส์</h1>
<div class="col-md-12">
  <button class="btn btn-light me-2" (click)="LoadData()">โหลดข้อมูล</button>
  <button class="btn btn-success" routerLink="/account-add">เพิ่มข้อมูล</button>
</div>
<table class="table table-bordered mt-2">
  <thead>
    <tr>
      <th class="text-center" scope="col" width="5%">ลำดับ</th>
      <th class="text-center" scope="col" width="50%">เลขที่บัญชี</th>
      <th class="text-center" scope="col" width="20%">ชื่อบัญชี</th>
      <th class="text-center" scope="col" width="25%">จัดการ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas; let i=index;">
      <th class="text-center" scope="row">{{ i+1 }}</th>
      <td>{{ data.account_no }}</td>
      <td>{{ data.account_name }}</td>
      <th class="text-center">
        <button class="btn btn-warning me-2" (click)="Edit(data.id)">Edit</button>
        <button class="btn btn-danger me-2" (click)="Delete(data.id)">Delete</button>
      </th>
    </tr>
    <tr *ngIf="datas.length==0">
      <td colspan="4" class="text-center">No Data</td>
    </tr>
  </tbody>
</table>